body{
  /* background-color: blueviolet; */
/* background-color: blueviolet; */
background-image: url(https://media.istockphoto.com/id/1410050549/vector/happy-valentines-day-greeting-background-in-papercut-style-horizontal-poster-greeting-card.jpg?s=612x612&w=0&k=20&c=FQnNhFipgSE6K1VSsiF_CPRomUhBzQKZWgyStYCh2z0=);
background-repeat: no-repeat;
background-size: cover;
background-positiob: center;
}
.polaroid{
    width: 50%;
    margin: auto;
    background-color: #black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.polaroid img{
    width: 95%;
    margin: auto;
    border-radius: 5px;
    display: block;
}

