body {
  background: black;
  color: #00ffee;
  font-family: Arial;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  margin:0;
}

.box {
  background:#111;
  padding:30px;
  width:350px;
  text-align:center;
  border-radius:15px;
  box-shadow:0 0 25px #00ffee;
}

button {
  width:100%;
  padding:12px;
  margin-top:10px;
  background:#00ffee;
  border:none;
  font-weight:bold;
  cursor:pointer;
  border-radius:8px;
}

.answers button, .nav-buttons button {
  margin-top:5px;
}

.bar {
  height:8px;
  background:#222;
  margin-top:15px;
  border-radius:4px;
}

#bar {
  height:100%;
  width:0%;
  background:#00ffee;
  border-radius:4px;
}

textarea {
  background:#111;
  color:#00ffee;
  border:1px solid #00ffee;
}
